html {
	width: 100%;
	height: 100%;
	}

body {
	height: 100%;
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/body-bg.png) center repeat fixed #F5F5F5;
	margin: 0;
	overflow: hidden;
	}

#sidenav {
	width: 100px;
	height: 100%;
	background: #FFFFFF;
	position: fixed;
	left: 0;
	box-shadow: 0px 0px 15px #CCCCCC;
	display: flex;
	flex-direction: column;
	z-index: 1002;
	}

#sidenav a {
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px dashed #E0E0E0;
	text-decoration: none;
	}

#sidenav a:hover {
	background: #F9F9F9;
	}

#sidenav div {
	width: 30px;
	height: 30px;
	}

#sidenav a:hover div {
	position: absolute;
	}

#sidenav-more {
	cursor: pointer;
	}

#sidenav-menu {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/sidenav-menu.svg) center no-repeat;
	background-size: cover;
	}

#sidenav-home {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/sidenav-home.svg) center no-repeat;
	background-size: cover;
	}

#sidenav-works {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/sidenav-works.svg) center no-repeat;
	background-size: cover;
	}

#sidenav-bios {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/sidenav-bios.svg) center no-repeat;
	background-size: cover;
	}

#sidenav-talks {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/sidenav-talks.svg) center no-repeat;
	background-size: cover;
	}

#sidenav-dict {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/sidenav-dict.svg) center no-repeat;
	background-size: cover;
	}

#sidenav a:nth-child(n):hover:after {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100%;
	background: #F9F9F9;
	position: relative;
	font-family: "Capt";
	font-size: 16px;
	font-weight: normal;
	color: #11245C;
	letter-spacing: 1px;
	text-transform: uppercase;
	}

#sidenav a:nth-child(2):hover:after {
	content: "ГЛАВНАЯ";
	}

#sidenav a:nth-child(3):hover:after {
	content: "РАБОТЫ";
	}

#sidenav a:nth-child(4):hover:after {
	content: "АВТОРЫ";
	}

#sidenav a:nth-child(5):hover:after {
	content: "БЕСЕДЫ";
	}

#sidenav a:nth-child(6):hover:after {
	content: "СЛОВАРЬ";
	}

#sidenav-more-menu {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/menu-bg.png) center repeat #11245C;
	background-size: 10px 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: fixed;
	left: -100%;
	z-index: 1001;
	transition: 0.5s;
	}

#sidenav-banners {
	width: 900px;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
	position: relative;
	left: 50px;
	}

.sidenav-banner {
	width: 400px;
	height: 95px;
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/banner-bg.png) top center repeat-x;
	border-radius: 10px;
	overflow: hidden;
	}

.sidenav-banner:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: rgb(255 255 255 / 25%);
	position: relative;
	top: -95px;
	}

.sidenav-banner div {
	width: 100%;
	height: 100%;
	}

.sidenav-banner div:after {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background: #FFC81F;
	position: relative;
	top: 90px;
	}

.sidenav-banner:nth-child(5) {
	width: 850px;
	}

#banner-vk {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/banner-vk.png) top center no-repeat;
	background-size: contain;
	}

#banner-tg {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/banner-tg.png) top center no-repeat;
	background-size: contain;
	}

#banner-chronos {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/banner-chronos.png) top center no-repeat;
	background-size: contain;
	}

#banner-attic {
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/banner-attic.png) top center no-repeat;
	background-size: contain;
	}

#banner-archive {
	width: 850px;
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/banner-archive.png) top center no-repeat;
	background-size: contain;
	}

.page {
	width: calc(100% - 100px);
	height: 100%;
	position: absolute;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1000;
	}

.page::-webkit-scrollbar {
	width: 6px;
	}

.page::-webkit-scrollbar-track {
	background: #DBDBDB;
	}

.page::-webkit-scrollbar-thumb {
	background: #11245C;
	}

#content {
	width: 800px;
	margin: auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px #CCCCCC;
	}

#title {
	width: 100%;
	height: 90px;
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/title-bg.png) top repeat-x;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	}

#title h1 {
	width: 100%;
	height: 90px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-family: "Akrobat-B";
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	}

p {
	margin: 0;
	}

#footer {
	width: 800px;
	height: 45px;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	background: url(https://insanechronos.github.io/typemoonyash/assets/common/footer-bg.png) bottom repeat-x;
	background-size: 7px 45px;
	color: #000000;
	font-family: Calibri;
	font-size: 14px;
	font-weight: normal;
	}

#title::after, #footer::before {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #FFC81F;
	border-top: solid 1px #DBDBDB;
	border-bottom: solid 1px #DBDBDB;
	}

@media screen and (max-width: 500px) {

	#sidenav {
		width: 100%;
		height: 100px;
		flex-direction: row;
		bottom: 0;
		}

	#sidenav a:nth-child(n):hover:after {
		display: none;
		width: 100%;
		height: 100px;
		}

	#sidenav-more-menu {
		width: 100%;
		left: -100%;
		}

	#sidenav-banners {
		width: 100%;
		height: calc(100% - 200px);
		left: 0px;
		padding: 50px 0px 50px 0px;
		align-content: flex-start;
		overflow: auto;
		}

	.sidenav-banner {
		width: 80% !important;
		transition: 0s;
		}

	#banner-vk, #banner-tg, #banner-chronos, #banner-attic, #banner-archive {
		background-size: cover;
		}

	#banner-archive {
		width: 100%;
		}

	#content {
		width: 100%;
		}

	#footer {
		width: 100%;
		font-size: 10px;
		}

	.page {
		width: 100%;
		height: calc(100% - 100px) !important;
		}

	#title {
		height: 60px;
		background-size: 9px 60px;
		}

	#title h1 {
		height: 60px;
		font-size: 15px;
		}

	}
